/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #87CEEB; /* Sky blue background color */
  margin: 0;
  padding: 0;
}

/* Page Styles */
#page1, #page2 {
  padding: 20px;
  text-align: center;
}

#page2 {
  display: none;
}

/* Table Styles */
#table-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

thead th {
  background-color: #f5f5f5;
}

button {
  margin-top: 10px;
  margin-right: 10px; /* Add right margin for spacing */
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #008CBA; /* Blue button color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


button:hover {
  background-color: #0077B3; /* Darker blue hover color */
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #e8e2e2;
  text-align:center;
}





#smallImage {
  width: 200px; /* Adjust the desired width */
  position: absolute;
  top: 0;
  left: 0;
}



#page1 {
  flex-direction: column;
  
  height: 100%;
  padding: 20px;
  text-align: center;
  background-image: url('https://c0.wallpaperflare.com/preview/751/2/550/chart-graph-business-finance.jpg');
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://c0.wallpaperflare.com/preview/751/2/550/chart-graph-business-finance.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
  margin-bottom: 30px;
}

h1 {
  font-size: 48px; 
  color: #0d0d0d;
  margin: 30px; /* Add a top margin of 10px and remove the default margin on the sides */
  line-height: 1.6;
  font-weight: 600; /* Increase the font weight for a bolder appearance */
  font-family: Arial, sans-serif;
}


button {
  padding: 12px 24px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

#smallImage {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

#logo {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

#logo img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
